body {
     margin: 0;
     padding: 0;
     background: #FBAB7E;
    /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #f7b733, #F7CE68);
    /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #FBAB7E, #F7CE68);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


h1 {
     font-size: 34px;
     color: #2f3640;
     text-align: center;
}
 h2 {
     font-size: 20px;
     color: white;
}
 p {
     font-size: 16px;
     color: white;
}

 li {
    margin-top: 40px;
    background-color: #2f3640;
    padding: 20px;
    list-style: none;
}

 #menu {
     background-color: #2f3640;
}
 #menu ul {
     padding: 0;
     margin: 0;
}
 #menu ul li {
    margin: 0;
    display: inline-block;
    padding: 0px;
}
 #menu ul li a {
     display: block;
     padding: 12px;
     text-decoration: none;
     color: white;
     font-size: 17px;
}
 #menu ul li a:hover {
     background-color: gray;
}
 .searchBox {
     margin: auto;
     margin-top: 250px;
     background: #2f3640;
     height: 40px;
     width: 500px;
     border-radius: 40px;
     padding: 10px;
     transition: margin-top 1.5s;
}
 .move-up {
     margin-top: 50px;
}
 
 #search-bar {
     border:none;
     background: none;
     outline:none;
     padding: 0;
     color: white;
     font-size: 16px;
     line-height: 40px;
     width: 90%;
}
 #search-button {
     color: white;
     float: right;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background: #2f3640;
     display: flex;
     justify-content: center;
     align-items: center;
}
 #results-list {
     display: none;
     margin: auto;
     margin-top: 100px;
     width: 65%;
     text-align: left;
}
 .loader {
     display: none;
     margin: auto;
     margin-top: 50px;
     border: 5px solid #2f3640;
     border-radius: 50%;
     border-top: 5px solid #ffffff;
     width: 50px;
     height: 50px;
     -webkit-animation: spin 1.5s linear infinite;
    /* Safari */
     animation: spin 1.5s linear infinite;
}
/* Safari */
 @-webkit-keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
    }
     100% {
         -webkit-transform: rotate(360deg);
    }
}
 @keyframes spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}
 .more-button {
     align-items: center;
     background-color: #2f3640;
     border: 0;
     border-radius: 100px;
     cursor: pointer;
     display: inline-flex;
     color: white;
     font-size: 17px;
     justify-content: center;
     min-height: 40px;
     padding-left: 20px;
     padding-right: 20px;
}
 .more-button:hover{
     background-color: gray 
}

.table-button {
    align-items: center;
    background-color: #2f3640;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    display: inline-flex;
    color: white;
    font-size: 14px;
    justify-content: center;
    min-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.table-button:hover{
    background-color: gray 
}

 #more-div-button {
     display: none;
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin:auto;
  }
  
table td, th {
    border: 1px solid #2f3640;
    padding: 8px;
  }
  
table tr {background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2f3640;
    color: white;
  }
 