body {
     margin: 0;
     padding: 0;
     background: WhiteSmoke;
}


h1 {
     font-size: 36px;
     color: #2f3640;
     text-align: center;
     font-family: "IBM Plex Sans";
     font-weight: 700;
     margin-top: 50px;
}
 h2 {
     font-size: 20px;
     margin: 50px;
     color: #2f3640;
     font-family: "IBM Plex Sans";
}
 p {
     font-size: 16px;
     color: white;
     font-family: "IBM Plex Sans";
}

 li {
    margin-top: 40px;
    background-color: #2f3640;
    padding: 20px;
    list-style: none;
    font-family: "IBM Plex Sans";
}

 #menu {
     background-color: #2f3640;
     display: flex;
     justify-content: center;
     align-items: center;
}
 #menu ul {
     padding: 0;
     margin: 0;
}
 #menu ul li {
    margin: 0;
    display: inline-block;
    padding: 0px;
}
 #menu ul li a {
     display: block;
     padding: 20px;
     text-decoration: none;
     color: white;
     font-size: 18px;
}
 #menu ul li a:hover {
     background-color: gray;
}

.description {
    font-size: 20px;
    font-family: "IBM Plex Sans";
    font-weight: 500;
    text-align: center;
  }

 .searchBox {
     margin: auto;
     margin-top: 250px;
     background: #2f3640;
     height: 40px;
     width: 40%;
     border-radius: 40px;
     padding: 10px;
     transition: margin-top 1s;
}
 .move-up {
     margin-top: 50px;
}
 
 #search-bar {
     border:none;
     background: none;
     outline:none;
     padding: 0;
     color: white;
     font-size: 17px;
     line-height: 40px;
     width: 70%;
}
 #search-button {
     color: white;
     float: right;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background: #2f3640;
     display: flex;
     justify-content: center;
     align-items: center;
}
 #results-list {
     display: none;
     margin: auto;
     margin-top: 100px;
     width: 65%;
     text-align: left;
}
 #results-list h2 {
    margin: 20px;
    color: white;
}

 #results-list li:hover{
    border:5px solid;
    border-color: gray ; 
    cursor: pointer;
}
 .loader {
     display: none;
     margin: auto;
     margin-top: 50px;
     border: 5px solid #2f3640;
     border-radius: 50%;
     border-top: 5px solid #ffffff;
     width: 50px;
     height: 50px;
     -webkit-animation: spin 1.5s linear infinite;
    /* Safari */
     animation: spin 1.5s linear infinite;
}
/* Safari */
 @-webkit-keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
    }
     100% {
         -webkit-transform: rotate(360deg);
    }
}
 @keyframes spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}
 .more-button {
     align-items: center;
     background-color: #2f3640;
     border: 0;
     border-radius: 100px;
     cursor: pointer;
     display: inline-flex;
     color: white;
     font-size: 17px;
     justify-content: center;
     min-height: 40px;
     width: 10%;
     padding-left: 20px;
     padding-right: 20px;
}
 .more-button:hover{
     background-color: gray 
}

 #more-div-button {
     display: none;
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: white;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
    margin-right: 50px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 80%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #2f3640;
    color: white;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin:auto;
    margin-bottom: 20px;

  }
  
table td, th {
    border: 1px solid #2f3640;
    padding: 8px;
  }
  
table tr {background-color: #f2f2f2;}
  
table td:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2f3640;
    color: white;
  }
 